package regattaleitung

import "github.com/bata94/RegattaApi/internal/templates/components"
import "github.com/bata94/RegattaApi/internal/crud"
import "fmt"
import "strconv"

templ Startnummern() {
  @ui_components.InternalPageDivCol() {
    @ui_components.PageHeader("Startnummernverwaltung")
    @ui_components.PageHeaderSubtext("")
  }
}

templ StartnummernVerteilen() {
  @ui_components.InternalPageDivCol() {
    @ui_components.PageHeader("Startnummern verteilen")
    @ui_components.PageHeaderSubtext("")

    <div
      class="bg-red-500/70 text-white font-bold text-lg p-4 rounded-md w-fit mx-auto"
    >
       Achtung!!! <br />
       Diese Funktion kann nur einmal ausgeführt werden. Sollte eine erneute Startnummerverteilung nötig sein, muss die alte zunächst zurückgesetzt werden! <br />
       Nach dem Zurücksetzen sind alle bisherigen Startnummernzuteilungen unwiderruflich verloren!
    </div>

    <div class="md:w-4/5 mx-auto flex flex-col md:flex-row md:justify-between">
      <form
        class="w-fit"
        hx-post="/internal/regattaleitung/startnummern/verteilen"
      >
        <div class="w-fit mx-auto">
          @ui_components.SubmitButton("Startnummern verteilen", ui_components.Warning)
        </div>
      </form>

      <form
        class="w-fit"
        hx-delete="/internal/regattaleitung/startnummern/verteilen"
      >
        <div class="w-fit mx-auto">
          @ui_components.SubmitButton("Startnummern zurücksetzen", ui_components.Error)
        </div>
      </form>
    </div>
  }
}

templ StartnummernBereich() {
  @ui_components.InternalPageDivCol() {
    @ui_components.PageHeader("Startnummernbereich anpassen")
    @ui_components.PageHeaderSubtext("Work in progress ...")
  }
}

templ StartnummernAendernRennenWahl() {
  @ui_components.InternalPageDivCol() {
    @ui_components.PageHeader("Startnummer ändern")
    @ui_components.PageHeaderSubtext("")

    @ui_components.RennenTabs("/internal/regattaleitung/startnummern/aenderung/%25s", true, true) // %25 -> % in url
  }
}

templ StartnummernAendernMeldungsWahl(r crud.Rennen) {
  @ui_components.InternalPageDivCol() {
    @ui_components.PageHeader(fmt.Sprintf("Startnummer ändern für %s - %s", r.Nummer, r.BezeichnungLang))
    @ui_components.PageHeaderSubtext("")

    if len(r.Meldungen) == 0 {
      <div class="alert alert-error">
        <span>Keine Meldungen gefunden</span>
      </div>
    } else {
      for _, m := range r.Meldungen {
        {{
          navOpts := ui_components.HXNavigationOptions{
            URL:    fmt.Sprintf("/internal/regattaleitung/startnummern/aenderung/%s/%s", r.Uuid.String(), m.Uuid.String()),
            Target: "main",
            Push:   true,
            Method: ui_components.GET,
          }
        }}
        @ui_components.MeldungsCard(m, navOpts)
      }
    }
  }
}

templ StartnummernAendern(m crud.Meldung, fieldErrors map[string]string) {
  @ui_components.InternalPageDivCol() {
    @ui_components.PageHeader("Startnummer ändern")
    @ui_components.PageHeaderSubtext("")

    @ui_components.MeldungsCard(m, ui_components.NoNavHXNavigationOptions())

    <form
      hx-post={"/internal/regattaleitung/startnummern/aenderung/" + m.RennenUuid.String() + "/" + m.Uuid.String()}
      hx-target="main"
      hx-swap="innerHTML"
      hx-push-url="true"
    >
      <div class="flex flex-col gap-4 w-full md:w-2/3 lg:w-1/2 md:mx-auto mt-4">
        <input type="hidden" name="uuid" value={m.Uuid.String()}/>
        @ui_components.LineInput("startnummer", "Startnummer", strconv.Itoa(int(m.StartNummer)), "number", true, fieldErrors["startnummer"])
        <div class="flex flex-row gap-4 justify-center my-4">
          @ui_components.SubmitButton("Speichern", ui_components.Success)
          <button
            type="button"
            class="btn btn-primary mt-6"
            hx-get={"/internal/regattaleitung/startnummern/aenderung/" + m.RennenUuid.String()}
            hx-target="main"
            hx-swap="innerHTML"
            hx-push-url="true"
          >
            Abbrechen
          </button>
        </div>
      </div>
    </form>
  }
}
