package regattaleitung

import (
	"github.com/bata94/RegattaApi/internal/templates/components"
)

templ Vereinsverwaltung() {
  @ui_components.InternalPageDivCol() {
    @ui_components.PageHeader("Vereinsverwaltung")
    @ui_components.PageHeaderSubtext("Work in progress ...")
  }
}
