package ui_pages

templ Datenschutz() {
  <h2>
    Datenschutz
  </h2>
  <p class="">
    Hier entsteht die offizielle Landing Page für die alljährige Mülheimer
    Jungen & Mädchen Regatta. Zur nächsten Regatta finden Sie hier die
    Ausschreibung, Ergebnisse, Livestreams und vieles mehr!
  </p>
}
