package ui_pages

templ Ergebnisse() {
  <h2>
    Ergebnisse
  </h2>
  <p class="">
    Hier wirst du zeitnah, nach dem Zieleinlauf die Ergebnisse der Rennen
    abrufen können. Aktuell ist aber noch etwas Zeit, komme also an den
    Regattatagen wieder :)
  </p>
}
