package ui_pages

import "github.com/bata94/RegattaApi/internal/templates/components"

templ InternalRegattabuero() {
  {{
    breadcrumbs := []ui_components.BreadcrumbsEntries{
      ui_components.BreadcrumbsEntries{
        Title: "Home",
        Paths: "/",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Internes",
        Paths: "/internal",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Regattabüro",
        Paths: "/internal/regattabuero",
      },
    }
  }}
  @ui_components.Breadcrumbs(breadcrumbs)
  @ui_components.InternalPageDivCol() {

    @ui_components.PageHeader("Regattabüro")
    @ui_components.PageHeaderSubtext("Hier kannst du die Regattabüro-Funktionen nutzen.")

    // @internalRegattabueroNewDashboardBtn()

    @ui_components.InternalNavBtnGrid([]ui_components.InternalNavBtnParams{
      {Name: "Abmeldung", Desc: "Meldungen abmelden", URL: "/internal/regattabuero/vereinswahl?next=abmeldung&title=Vereinswahl für Abmeldung"},
      {Name: "Ummeldung", Desc: "Meldungen ummelden", URL: "/internal/regattabuero/vereinswahl?next=ummeldung&title=Vereinswahl für Ummeldung"},
      {Name: "Nachmeldung", Desc: "Meldung nachmelden", URL: "/internal/regattabuero/vereinswahl?next=nachmeldung&title=Vereinswahl für Nachmeldung"},
      {Name: "Waage", Desc: "Sportler verwiegen", URL: "/internal/regattabuero/vereinswahl?next=waage&title=Vereinswahl für Waage"}, // %20 -> ?
      {Name: "Startberechtigung", Desc: "Ärztliche Bescheinigung überprüfen", URL: "/internal/regattabuero/vereinswahl?next=startberechtigung&title=Vereinswahl für Startberechtigung"},
      {Name: "Sportler anlegen", Desc: "Neuen Sportler anlegen", URL: "/internal/regattabuero/vereinswahl?next=new_athlet&title=Vereinswahl für Neuen Sportler anlegen"},
      {Name: "Kasse", Desc: "Einzahlungen kassieren, Rechnungen und Quittungen einsehen", URL: "#"},
      {Name: "Startnummern Ausgabe/Rückgabe", Desc: "Startnummern ausgeben oder zurücknehmen", URL: "#"},
      {Name: "Startnummern ändern", Desc: "Startnummer einer Meldung ändern", URL: "/internal/regattabuero/startnummern/aenderung"},
      {Name: "Setzungsänderung", Desc: "Setzung eines Rennens ändern", URL: "/internal/regattabuero/setzungsverwaltung/aenderung"},
      {Name: "Änderungen von Obleuten", Desc: "Ab-, Um- und Nachmeldungen von Vereins Obleuten akzeptieren bzw. ablehnen", URL: "#"},
    })
  }
}

templ internalRegattabueroNewDashboardBtn() {
  <div
    class="btn btn-outline min-w-64 w-1/2 h-20 mx-auto mb-8"
    hx-get="/internal/regattabuero"
    hx-target="main"
    hx-push-url="true"
    hy-boost="true"
    href="/internal/regattabuero"
  >
    <h2 class="text-2xl font-bold !m-0">
      Neues Dashboard (Beta)
    </h2>
  </div>
}
