package ui_pages

import "github.com/bata94/RegattaApi/internal/templates/components"

templ InternalAdmin() {
  <div class="w-full flex flex-col">
    <h2>Admin</h2>
    <p>Hier kannst du die Admin-Funktionen nutzen.</p>

    @ui_components.InternalNavBtnGrid([]ui_components.InternalNavBtnParams{
      {Name: "Monitor", Desc: "Server Metriken", URL: "/metrics"},
      {Name: "Nutzer Verwaltung", Desc: "Nutzer bearbeiten, löschen und neuanlegen", URL: "/internal/admin/users"},
      {Name: "Nutzergruppen Verwaltung", Desc: "Nutzergruppen bearbeiten, löschen und neuanlegen", URL: "/internal/admin/usergroups"},
    })
  </div>
}
