package ui_pages

import "github.com/bata94/RegattaApi/internal/templates/components"

templ meldeschlussHelpBody() {
  <div class="">
    <p class="m-0">Bei Meldeschluss ist der Ablauf wie folgt:</p>
    <ol
      type="1"
      class="mx-6"
    >
      <li>Meldungen schließen & veröffentlichen im Meldeportal</li>
      <li>Meldungen im Meldeportal exportieren (JSON Format)</li>
      <li>DRV Datei hier hochladen</li>
      <li>Setzung hier auslosen</li>
      <li>Pausen hier nach Ausschreibung eintragen, Länge erstmal nicht so wichtig</li>
      <li>Zeitplan hier erstellen, dabei werden Sa und So erster Startzeit festgelegt</li>
      <li>Startnummern hier verteilen, ggf. Startnummerbereiche anpassen und nicht verfügbare Nummern eintragen</li>
      <li>Setzungen überprüfen, ggf. PDF Meldeergebnis erstellen wenn einfacher zu bearbeiten</li>
      <li>Setzungen hier anpassen</li>
      <li>Wenn Setzung korrekt ist, erneut Startnummern verteilen</li>
      <li>Zeitplan inkl. Rennabstände überprüfen, ggf. Pausen bzw. Sa/So erster Startzeit anpassen</li>
      <li>PDF Meldeergebnis erstellen</li>
      <li>eMail an Vereine senden, mit Meldeergebnis als PDF und den anderen Dokumenten</li>
    </ol>
  </div>
}

templ InternalRegattaleitung() {
  {{
    breadcrumbs := []ui_components.BreadcrumbsEntries{
      ui_components.BreadcrumbsEntries{
        Title: "Home",
        Paths: "/",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Internes",
        Paths: "/internal",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Regattaleitung",
        Paths: "/internal/regattaleitung",
      },
    }
  }}
  @ui_components.Breadcrumbs(breadcrumbs)
  @ui_components.InternalPageDivCol() {

    @ui_components.PageHeader("Regattaleitung")
    @ui_components.PageHeaderSubtext("Hier kannst du die Regattaleitung-Funktionen nutzen.")

    <div class="mb-4">
      @ui_components.Collapse("Meldeschluss, was tun?", meldeschlussHelpBody())
    </div>

    @ui_components.InternalNavBtnGrid([]ui_components.InternalNavBtnParams{
      {Name: "DRV Datei Upload", Desc: "Upload der aus dem DRV-Meldeportal exportierten Dateien", URL: "/internal/regattaleitung/drvupload"},
      {Name: "Setzungsverwaltung", Desc: "Auslosung der Abteilungen nach dem Meldeschluss, sowie anpassen von Rennsetzungen indem z.B. mehrfach der gleiche Verein gegeneinander fährt", URL: "/internal/regattaleitung/setzungsverwaltung"},
      {Name: "Pausen verwalten", Desc: "Pausen müssen leider händisch hier eingetragen werden", URL: "/internal/regattaleitung/pausen"},
      {Name: "Zeitplan erstellen", Desc: "Regattazeitplan erstellen und Beginn für Samstag und Sonntag festlegen", URL: "/internal/regattaleitung/zeitplan"},
      {Name: "Startnummern verwalten", Desc: "Startnummern verteilen und Nummerbereiche anpassen, sowie nicht verfügbare Nummern eintragen", URL: "/internal/regattaleitung/startnummern"},
      {Name: "PDF Meldeergebnis erstellen", Desc: "PDF Meldeergebnis erstellen. Die Datei kann dann von Usern auf der Website heruntergeladen werden", URL: "/internal/regattaleitung/pdf_meldeergebnis"},
      {Name: "Vereine verwalten", Desc: "Vereine bearbeiten und neuanlegen, sowie Obleute bearbeiten und neuanlegen", URL: "/internal/regattaleitung/vereine"},
      {Name: "eMail senden", Desc: "eMail über das System an Vereine bzw. Obleute versenden", URL: "/internal/regattaleitung/email"},
    })
  }
}
