package ui_pages

templ InternalAdmin() {
  <h2>Admin</h2>
  <p>Hier kannst du die Admin-Funktionen nutzen.</p>
  <button
    hx-get="/metrics"
    hx-target="main"
    hx-push-url="true"
    href="/metrics"
    class="btn btn-primary"
  >
    Admin-Metriken
  </button>
}
