package ui_pages

import (
  "fmt"
  "github.com/bata94/RegattaApi/internal/crud"
	"github.com/bata94/RegattaApi/internal/templates/components"
)

templ InternalVereinswahl(nextUrl string, title string, vereine []crud.Verein){
  {{
    titleStr := "Vereinswahl"
    if title != "" {
      titleStr = title
    }
    breadcrumbs := []ui_components.BreadcrumbsEntries{
      ui_components.BreadcrumbsEntries{
        Title: "Home",
        Paths: "/",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Internes",
        Paths: "/internal",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Regattabüro",
        Paths: "/internal/regattabuero",
      },
      ui_components.BreadcrumbsEntries{
        Title: titleStr,
        Paths: "",
      },
    }
  }}
  @ui_components.Breadcrumbs(breadcrumbs)
  @ui_components.InternalPageDivCol() {
    @ui_components.PageHeader(titleStr)
    @ui_components.PageHeaderSubtext("")
    <div class="flex flex-col gap-4">
      for _, v := range vereine {
        <div
          class="card bg-base-100 w-full shadow-sm hover:cursor-pointer"
          hx-get={fmt.Sprintf(nextUrl, v.Uuid)}
          hx-boost="true"
          hx-target="main"
          hx-push-url="true"
          hy-boost="true"
          href={fmt.Sprintf(nextUrl, v.Uuid)}
          >
          <div class="card-body">
            <h5 class="card-title">{v.Kuerzel}</h5>
            <p class="card-text">{v.Name}</p>
          </div>
        </div>
      }
    </div>
  }
}
