package ui_pages

import (
	"github.com/bata94/RegattaApi/internal/templates/components"
)

templ InternalRegattaleitungVereinsverwaltung() {
  {{
    breadcrumbs := []ui_components.BreadcrumbsEntries{
      ui_components.BreadcrumbsEntries{
        Title: "Home",
        Paths: "/",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Internes",
        Paths: "/internal",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Regattaleitung",
        Paths: "/internal/regattaleitung",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Vereinsverwaltung",
        Paths: "/internal/regattaleitung/verein",
      },
    }
  }}
  @ui_components.Breadcrumbs(breadcrumbs)
  @ui_components.InternalPageDivCol() {
    @ui_components.PageHeader("Vereinsverwaltung")
    @ui_components.PageHeaderSubtext("Work in progress")
  }
}
