package ui_pages

import (
  "github.com/bata94/RegattaApi/internal/crud"
	"github.com/bata94/RegattaApi/internal/templates/components"
)

templ InternalRegattabueroWaageWahl(v crud.Verein, athleten []crud.Athlet) {
  {{
    breadcrumbs := []ui_components.BreadcrumbsEntries{
      ui_components.BreadcrumbsEntries{
        Title: "Home",
        Paths: "/",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Internes",
        Paths: "/internal",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Regattabüro",
        Paths: "/internal/regattabuero",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Waage",
        Paths: "",
      },
    }

    navOpts := ui_components.HXNavigationOptions{
      URL:    "/internal/regattabuero/" + v.Uuid.String() + "/waage/",
      Target: "main",
      Push:   true,
      Method: ui_components.GET,
    }
  }}

  @ui_components.Breadcrumbs(breadcrumbs)
  @ui_components.InternalPageDivCol() {
    @ui_components.PageHeader("Waage für " + v.Name)
    @ui_components.PageHeaderSubtext("")

    @ui_components.TeilnehmerCardList(athleten, navOpts)
  }
}

templ InternalRegattabueroWaage(a crud.Athlet) {
  {{
    breadcrumbs := []ui_components.BreadcrumbsEntries{
      ui_components.BreadcrumbsEntries{
        Title: "Home",
        Paths: "/",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Internes",
        Paths: "/internal",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Regattabüro",
        Paths: "/internal/regattabuero",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Waage",
        Paths: "",
      },
    }
  }}

  @ui_components.Breadcrumbs(breadcrumbs)
  @ui_components.InternalPageDivCol() {
    @ui_components.PageHeader("Waage für " + a.FullName())
    @ui_components.PageHeaderSubtext("")

    <h5 class="card-title">Verein: {a.Verein.Name}</h5>
    if a.ErstesRennen != nil {
      <p class="card-text">Erster Start: {a.ErstesRennen.Tag.String()} {a.ErstesRennen.StartzeitStr()} Uhr</p>
    }

    <h5 class="card-title mt-4">Meldungen:</h5>
    <div class="divider m-0 p-0"/>
    <div class="flex flex-row gap-4">
      for _, r := range a.Meldungen {
        @ui_components.MeldungsCard(r, ui_components.NoNavHXNavigationOptions())
      }
    </div>
    <div class="divider m-0 p-0"/>

    <form
      hx-post={"/internal/regattabuero/" + a.Verein.Uuid.String() + "/waage/" + a.Uuid.String()}
      hx-target="main"
      hx-push-url="true"
    >
      <div class="flex flex-col gap-4 w-full md:w-2/3 lg:w-1/2 md:mx-auto mt-4">
        <input type="hidden" name="uuid" value={a.Uuid.String()}/>
        @ui_components.LineInput("gewicht", "Gewicht", "", "float", true)

        <div class="flex flex-row gap-4 justify-center my-4">
          @ui_components.SubmitButton("Speichern", ui_components.Success)
          <button
            type="button"
            class="btn btn-primary mt-6"
            hx-get={"/internal/regattabuero/" + a.Verein.Uuid.String() + "/waage"}
            hx-target="main"
            hx-push-url="true"
          >
            Abbrechen
          </button>
        </div>
      </div>
    </form>
  }
}

templ InternalRegattabueroStartberechtigungWahl(v crud.Verein, athleten []crud.Athlet) {}

templ InternalRegattabueroStartberechtigung(a crud.Athlet) {}

templ InternalRegattabueroNewAthlet(v crud.Verein) {}
