package ui_pages

import (
  "github.com/bata94/RegattaApi/internal/templates/components"
  "github.com/bata94/RegattaApi/internal/crud"
	"github.com/bata94/RegattaApi/internal/utils"
	"time"
)

templ InternalAdminUserGroups() {
  {{
    userGroups, err:= crud.GetAllUsersGroups()
    groupRows := []ui_components.TableRowParams{}
  }}
  if err != nil {
    @ui_components.ErrorBody(500, err.Error())
    {{return}}
  }

  {{
    for _, g := range userGroups {
      groupRows = append(groupRows, ui_components.TableRowParams{
        ID: g.Uuid.String(),
        Content: []string{
          g.Name,
          utils.BoolToJaNein(g.AllowedAdmin),
          utils.BoolToJaNein(g.AllowedZeitnahme),
          utils.BoolToJaNein(g.AllowedStartlisten),
          utils.BoolToJaNein(g.AllowedRegattabuero),
          utils.BoolToJaNein(g.AllowedRegattaleitung),
          time.Unix(g.Uuid.Time().UnixTime()).Format("02.01.2006 15:04"),
        },
        OnClickDialogSrc: "/",
      })
    }

    breadcrumbs := []ui_components.BreadcrumbsEntries{
      ui_components.BreadcrumbsEntries{
        Title: "Home",
        Paths: "/",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Internes",
        Paths: "/internal",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Admin",
        Paths: "/internal/admin",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Nutzergruppenverwaltung",
        Paths: "/internal/admin/usergroups",
      },
    }
  }}

  @ui_components.Breadcrumbs(breadcrumbs)
  @ui_components.InternalPageDivCol() {
  <div class="flex flex-row justify-between items-center">
    @ui_components.PageHeader("Nutzergruppen")
      <button
        class="btn btn-primary ml-auto"
        hx-target="#table_dialog_content"
        hx-swap="innerHTML"
        hx-get="/internal/admin/user/new"
        hx-trigger="click"
        hx-boost="true"
        onclick="table_dialog.showModal()"
      >
        Neue Nutzergruppe
      </button>
    </div>

    @ui_components.Table(ui_components.TableParams{
      Zebra: true,
      Columns: []ui_components.TableColumnParams{
        {Title: "Gruppenname", WidthClass: ""},
        {Title: "Admin Berechtigung", WidthClass: ""},
        {Title: "Zeitnahme Berechtigung", WidthClass: ""},
        {Title: "Startlisten Berechtigung", WidthClass: ""},
        {Title: "Büro Berechtigung", WidthClass: ""},
        {Title: "Leitungs Berechtigung", WidthClass: ""},
        {Title: "Erstellt am", WidthClass: ""},
      },
      Rows: groupRows,
    })
  }
}
