package ui_pages

import "github.com/bata94/RegattaApi/internal/templates/components"

templ InternalIndex(userCaps []string) {
  {{
    breadcrumbs := []ui_components.BreadcrumbsEntries{
      ui_components.BreadcrumbsEntries{
        Title: "Home",
        Paths: "/",
      },
      ui_components.BreadcrumbsEntries{
        Title: "Internes",
        Paths: "/internal",
      },
    }

    navBtns := []ui_components.InternalNavBtnParams{
      ui_components.InternalNavBtnParams{
        Name: "Profil",
        URL:  "/internal/profil",
        Desc: "Dein Profil verwalten",
      },
    }

    for _, cap := range userCaps {
      switch cap {
      case "allowed_zeitnahme":
        navBtns = append(navBtns, ui_components.InternalNavBtnParams{
          Name: "Zeitnahme",
          URL:  "/internal/zeitnahme",
          Desc: "Start- und Zielgericht, sowie Vorsortierung",
        })
      case "allowed_startlisten":
        navBtns = append(navBtns, ui_components.InternalNavBtnParams{
          Name: "Startlisten",
          URL:  "/internal/startlisten",
          Desc: "Einsicht in die Startlisten und Moderationsansicht",
        })
      case "allowed_regattabuero":
        navBtns = append(navBtns, ui_components.InternalNavBtnParams{
          Name: "Regattabüro",
          URL:  "/internal/regattabuero",
          Desc: "Sachbearbeitung an den Regattatagen",
        })
      case "allowed_regattaleitung":
        navBtns = append(navBtns, ui_components.InternalNavBtnParams{
          Name: "Regattaleitung",
          URL:  "/internal/regattaleitung",
          Desc: "Organisation der Regatta, primär im Vorfeld der Regatta",
        })
      case "allowed_admin":
        navBtns = append(navBtns, ui_components.InternalNavBtnParams{
          Name: "Admin",
          URL:  "/internal/admin",
          Desc: "Admin Bereich, Funktionen für Administratoren außerhalb des normalen Regattaablaufs",
        })
      }
    }
  }}

  @ui_components.Breadcrumbs(breadcrumbs)
  @ui_components.InternalPageDivCol() {

    @ui_components.PageHeader("Interne Funktionen")
    @ui_components.PageHeaderSubtext("Hier findest du die internen Funktionen, für die du Zugriffsrechte hast.")

    @ui_components.InternalNavBtnGrid(navBtns)
  }
}
