package ui_pages

templ Livestream() {
  <h2>
    Livestream
  </h2>
  <p class="mb-16">Für alle Daheimgebliebenen, besser ist es nur Vorort!</p>

  <h4>Aktuell ist kein LiveStream verfügbar!</h4>
  <h4>Komme bitte an den Regattatagen (23. & 24.09.2023) wieder :)</h4>
  <!-- <YouTube class="w-full mx-auto" id={ytVideoId} params={ytParams} /> -->
}
