package ui_pages

import (
  "fmt"

  "github.com/bata94/RegattaApi/internal/templates/components"
  "github.com/bata94/RegattaApi/internal/sqlc"
  "github.com/bata94/RegattaApi/internal/crud"
)

// TODO: Add dynamic PDF embedding/Linking
// TODO: Make Skeleton Loading nicer

templ rennenHeader(r crud.Rennen) {
  {{
    class := "text-xl"
    if *r.NumMeldungen == 0 {
      class = "text-xl line-through decoration-1"
    }
  }}
  <h4 class={class}>
    Rennen {r.Nummer} - {r.Bezeichnung} {r.Zusatz}
  </h4>
}

templ rennenBody(r crud.Rennen) {
  {{var aktAbt int32 = 0}}

  <div id={r.Uuid.String()} class="px-2 py-0">
    <h5 class="font-semibold">
      Erster Start {r.Startzeit} Uhr, Rennabstand {r.Rennabstand}
      if r.Rennabstand > 1 {
        Minuten
      } else {
        Minute
      }
    </h5>
    <h6 class="text-sm font-light mb-4">
      {*r.NumMeldungen}
      if *r.NumMeldungen > 1 {
        Meldungen
      } else {
        Meldung
      }
       in
      {*r.NumAbteilungen}
      if *r.NumAbteilungen > 1 {
        Abteilungen
      } else {
        Abteilung
      }
    </h6>

    for _, m := range r.Meldungen{
      if m.Abteilung != aktAbt {
        {{aktAbt = m.Abteilung}}
        <h6 className="text-lg font-semibold">Abteilung {aktAbt}:</h6>
      }

      {{
        teilnehmerStr := ""
        for _, a := range m.Athleten {
          if *a.Rolle == sqlc.RolleTrainer {
            continue
          }

          if teilnehmerStr != "" {
            teilnehmerStr += ", "
          }

          if *a.Rolle == sqlc.RolleStm {
            teilnehmerStr += fmt.Sprintf("Stm.: %s %s (%s)", a.Vorname, a.Name, a.Jahrgang)
          } else {
            teilnehmerStr += fmt.Sprintf("%s %s (%s)", a.Vorname, a.Name, a.Jahrgang)
          }
        }
      }}

      <div class="mx-2 mt-4">
        <h5 class="px-1 font-semibold">
          {m.StartNummer} - {m.Verein.Name}
        </h5>
        <p class="m-0 p-0 px-2">
          {teilnehmerStr}
        </p>
      </div>
    }
  </div>
}

templ MeldeergebnisCollapseBody(w sqlc.Wettkampf) {
  {{
    rennen, err := crud.GetAllRennenWithAthlet((crud.GetAllRennenParams{
      GetMeldungen: true,
      ShowEmpty: true,
      ShowStarted: true,
      ShowWettkampf: sqlc.NullWettkampf{Wettkampf: w, Valid: true},
    }))

    pausen, errPausen := crud.GetPausenByWettkampf([]sqlc.Wettkampf{w})
  }}
  if err != nil {
    @ui_components.ErrorBody(500, err.Error())
    return
  }
  if errPausen != nil {
    @ui_components.ErrorBody(500, errPausen.Error())
    return
  }

  for _, r := range rennen {
    <div id={r.Uuid.String()} class="px-2 py-0">
      @rennenHeader(r)
      if *r.NumMeldungen != 0 {
        @rennenBody(r)
      }
    </div>

    for _, p := range pausen {
      if p.NachRennenUuid == r.Uuid {
        <div class="divider divider-primary">
          <h5 class="font-semibold text-mrgblau mx-auto">
            Pause: {p.Laenge} Minuten
          </h5>
        </div>
      }
    }
  }
}

templ Meldeergebnis() {
  <h2>
    Meldeergebnis
  </h2>
  <p class="">
    Das eingebundene Meldeergebnis ist live und hat dadurch die aktuellsten
    Änderungen. Die
    <a
      href="#"
      target="_blank"
    >
      PDF Version findest du hier
    </a>
    . Diese enthält alle Änderungen zu dem angeben Zeitpunkt.
  </p>
  <div id="wettkampfNav" class="flex flex-col md:flex-row">
    <a class="btn btn-primary m-2" href="#Langstrecke">Langstrecke</a>
    <a class="btn btn-primary m-2" href="#Slalom">Slalom</a>
    <a class="btn btn-primary m-2" href="#Kurzstrecke">Kurzstrecke</a>
    <a class="btn btn-primary m-2" href="#Staffel">Staffel</a>
  </div>

  <h3 class="text-2xl text-mrgblau">Samstag</h3>
  <div id="Langstrecke">
    @ui_components.CollapseWithLoading("Langstrecke", "/comp/meldeergebnis/langstrecke")
  </div>
  <div id="Slalom">
    @ui_components.CollapseWithLoading("Slalom", "/comp/meldeergebnis/slalom")
  </div>

  <div class="divider pt-6"></div>

  <h3 class="text-2xl text-mrgblau">Sonntag</h3>
  <div id="Kurzstrecke">
    @ui_components.CollapseWithLoading("Kurzstrecke", "/comp/meldeergebnis/kurzstrecke")
  </div>
  <div id="Staffel">
    @ui_components.CollapseWithLoading("Staffel", "/comp/meldeergebnis/staffel")
  </div>
}
