package ui_components

import "fmt"

type InputColor int

const (
  Primary InputColor = iota
  Secondary
  Success
  Error
  Warning
  Info
  Mrgblau
)

templ SubmitButton(text string, color InputColor) {
  {{
    var btnColor string

    switch color {
    case Primary:
      btnColor = "btn-primary"
    case Secondary:
      btnColor = "btn-secondary"
    case Success:
      btnColor = "btn-success"
    case Error:
      btnColor = "btn-error"
    case Warning:
      btnColor = "btn-warning"
    case Info:
      btnColor = "btn-info"
    case Mrgblau:
      btnColor = "btn-mrgblau"
    default:
      btnColor = "btn-ghost"
    }
  }}
  <div class="form-control mt-6 !w-fit">
    <button type="submit" class={fmt.Sprintf("btn %s", btnColor)}>
      {text}
      <span class="htmx-indicator loading loading-spinner loading-md"></span>
    </button>
  </div>
}

templ LineInput(name, label, value, inpType string, required bool) {
  <div class="form-control mb-6 w-full">
    <label class="label">
      <span class="label-text">{label}</span>
    </label>
    <input
      type={inpType}
      name={name}
      class="input input-bordered w-full"
      value={value}
      if required {
        required
      }
    />
  </div>
}

templ FileUpload(name, label string, required bool) {
  <div class="form-control mb-6 w-full">
    <label class="label">
      <span class="label-text">{label}</span>
    </label>
    <input
      type="file"
      name={name}
      class="file-input file-input-bordered w-full"
      if required {
        required
      }
    />
  </div>
}

templ RangeStepInput(name, label string, value, min, max, step int, required bool) {
  {{
    stepCount := (max - min) / step + 1
  }}
  <div
    class="w-full max-w-xs"
  >
    <input
      class="range range-primary w-full"
      type="range"
      name={name}
      value={value}
      min={min}
      max={max}
      step={step}
    />
    <div class="flex justify-between px-2.5 mt-2 text-xs">
      for i := 0; i < stepCount; i += 1 {
        <span>|</span>
      }
    </div>
    <div class="flex justify-between px-2.5 mt-2 text-xs text-center">
      for i := 0; i < stepCount; i += 1 {
        <span>{i * step}</span>
      }
    </div>
  </div>
}
