package zeitnahme

import "github.com/bata94/RegattaApi/internal/templates/components"

templ Zeitnahme() {
  @ui_components.InternalPageDivCol() {

    @ui_components.PageHeader("Zeitnahme")
    @ui_components.PageHeaderSubtext("Hier kannst du die Zeitnahme-Funktionen nutzen.")
  }
}
