package regattabuero

import "github.com/bata94/RegattaApi/internal/templates/components"

templ Kasse() {
  @ui_components.InternalPageDivCol() {
    @ui_components.PageHeader("Kasse")
    @ui_components.PageHeaderSubtext("Work in progress ...")
  }
}
