package regattabuero

import "github.com/bata94/RegattaApi/internal/templates/components"

templ StartnummernAusgabe() {
  @ui_components.InternalPageDivCol() {
    @ui_components.PageHeader("Startnummern Ausgabe/Rückgabe")
    @ui_components.PageHeaderSubtext("Work in progress ...")
  }
}
